@font-face {
    font-family: 'verdana';
    src: url('../fonts/dejavu-sans-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/dejavu-sans-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/dejavu-sans-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/dejavu-sans-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/dejavu-sans-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/dejavu-sans-webfont.svg#dejavu_sansregular') format('svg'); /* Legacy iOS */
} 

body {
    font-family: 'verdana' !important; 
}

li {
    margin-bottom: 6px;
}

a {
    color:red;

}
a:visited {
    color:#4e4e4e !important;
}

a img {
    vertical-align: top;
}

strong {
    font-weight: bold;
}

ol {
    margin-top: 5px;
    margin-botton: 5px;   
}